<% include ./partials/header.ejs %>

<h1 class="text-center"><% title %></h1>

<section>
  <div class="row">
    <h1 class="blue">Camper details</h1>

    <div class="col-sm-12">
      <form method="post" class="form-horizontal" encType="multipart/form-data">
        <fieldset>
          <div class="col-sm-6" style="border-right: 1px solid gray; border-top: 1px solid gray">
            <h4>Enter Campers Information</h4>
            <div class="form-group">
              <label for="firstName" class="col-sm-5 control-label">First Name: *</label>
              <div>
                <input name="firstName" id="firstName" required />
              </div>
            </div>
            <div class="form-group">
              <label for="lastName" class="col-sm-5 control-label">Last Name: *</label>
              <input name="lastName" id="lastName" required />
            </div>
            <div class="form-group">
              <label for="age" class="col-sm-5 control-label">Age: *</label>
              <input name="age" id="age" required />
            </div>
            <div class="form-group">
              <label for="note" class="col-sm-5 control-label">Notes:</label>
              <textarea name="note" id="note" > </textarea>
            </div>
             <div class="form-group">
              <label for="camperProfileImg" class="col-sm-5 control-label">Profile Image: *</label>
              <input type="file" name="camperProfileImg" id="camperProfileImg" />
            </div>
          </div><!-- ./col 6 -->

          <div class="col-sm-6" style="border-top: 1px solid gray">
            <h4>Campers Payment Information</h4>
            <div class="form-group">
              <label for="amount" class="col-sm-5 control-label">Payment Amount: *</label>
              <div>
                <input name="amount" id="amount" required />
              </div>
            </div>
            <div class="form-group">
              <label for="paymentStatus" class="col-sm-5 control-label">Payment Status: *</label>
              <input name="paymentStatus" id="paymentStatus" placeholder="'Paid', 'Due-$100' " required />
            </div>
            <div class="form-group">
              <label for="paymentMethod" class="col-sm-5 control-label">Payment Method: *</label>
              <input name="paymentMethod" id="paymentMethod" placeholder="'Cash', 'Cheque', 'Debit/Credit', " required />
            </div>
          </div><!-- ./col 6 -->

          <div class="col-sm-12"  style="border-top: 1px solid gray; border-bottom: 1px solid gray">
            <h4>Enter Contact Information</h4>
            <div class="form-group">
              <label for="parentFirstName" class="col-sm-5 control-label">Parent First Name: *</label>
              <div>
                <input name="parentFirstName" id="parentFirstName" required />
              </div>
            </div>
            <div class="form-group">
              <label for="parentLastName" class="col-sm-5 control-label">Parent Last Name: *</label>
              <input name="parentLastName" id="parentLastName" required />
            </div>
            <div class="form-group">
              <label for="phoneNum" class="col-sm-5 control-label">Phone: *</label>
              <input name="phoneNum" id="phoneNum" required />
            </div>
            <div class="form-group">
              <label for="address" class="col-sm-5 control-label">Address: *</label>
              <textarea name="address" id="address" required > </textarea>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-5 control-label">Email:</label>
              <input name="email" id="email" />
            </div>
          </div>
        </fieldset>

        <a role="button" class="btn btn-primary pull-center " href="/camp-detail">GO BACK</a>
        <button class="btn btn-primary pull-right col-sm-offset-2 space">SAVE</button>

      </form>
    </div><!-- .col -->

  </div>

</section>


<% include ./partials/footer.ejs %>