<% include ./partials/header.ejs %>

<h1 class="text-center"><%= title %></h1>

<div class="section">
  <div class="container">
    <div class="row">
      <form method="post">
        <div class="form-group">
          <label for="campName" class="col-sm-2 control-label">Camp Name: *</label>
          <input name="campName" id="campName" required />
        </div>
        <div class="form-group">
          <label for="date" class="col-sm-2 control-label">Date: *</label>
          <input name="date" id="date" required />
        </div>
          <button class="btn btn-primary col-sm-offset-2">Save</button>
        </form>
    </div>
  </div>
</div>






<% include ./partials/footer.ejs %>
