<% include partials/header.ejs %>

<main class="container">
  <h2>Staff Members Register Here...</h2> <br>

  <form method="post">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username: *</label>
      <input name="username" type="email" placeholder="email*" id="username" required />
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password: *</label>
      <input name="password" id="password" type="password" required />
    </div>
    <div class="form-group">
      <label for="confirm" class="col-sm-2 control-label">Confirm Password: *</label>
      <input name="confirm" id="confirm" type="password" required />
    </div>
    <div class="form-group">
      <button class="btn btn-primary col-sm-offset-2">Register</button>
      <br><br>
      Already have an account?  <a href="/staff-login" title="Login">Login</a>
    </div>
  </form>

  <br>
  <a href="/">Return to homepage</a>

</main>

<!-- staff registered success modal-->
<% include ./partials/staff-reg-success.ejs %>

<% include partials/footer.ejs %>
