<% include ./partials/header.ejs %>

  <h1 class="text-center"><%= title %></h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a  class="nav-link active" href="/staff-dashboard">Home</a>
      </li>
    <li class="nav-item">
      <a  class="nav-link" href="/staff-camper-registration">Registration</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="/staff-camper-profiles">Camper Profiles</a>
        </li>
      <li class="nav-item">
        <a  class="nav-link" href="/staff-payment">Payment</a>
      </li>
  </ul>
<br>
<a href="/add-camper">Add A New Camper</a><br>
<a href="/add-camp-day">Add a Camp Day</a><br>


<a href="/staff-logout" role="button" class="btn btn-primary">Logout</a>



<% include ./partials/footer.ejs %>
